@{
    Layout = "~/Views/Shared/_CourseRealizationLayout.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <title>CourseRealization</title>
</head>
<body>
    <div>
        CourseRealization
    </div>
</body>
</html>
